body {
  font-family: 'Lato', sans-serif;
}
nav.global {
  height: 80px;
  ul {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
input {
  border-radius: 3px;
  height: 24px;
  width: 300px;
  margin-left: 25px;
}
button {
  height: 24px;
  border-radius: 3px;
}
nav.content {
  height: 45px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-size: 14px;
  ul {
    list-style: none;
    a {
      text-decoration: none;
      margin-left: 10px;
      color: rgb(119, 119, 119);
    }
  }
}
.nav-left {
  float: left;
  a.logo {
    color: orange;
    font-size: 36px;
  }
}
.li.logo a {
  color: orange;
  font-size: 36px;
}
.nav-right {
  float: right;
  a {
    text-decoration: none;
    margin-left: 5px;
    color: rgb(0, 146, 183);
  }
}
.container {
  background: rgb(245, 245, 241);
  min-height: 1850px;
  margin: 0px;
  display: -webkit-flex;
  display: flex;
}
footer {
  height: 300px;
  background: rgb(245, 245, 241);
  // border-top: 1px solid grey;
}
.results-nav {
  width: 230px;
  height: 380px;
  background: white;
  margin-left: 35px;
  font-size: 14px;
  // margin-top: 60px;
  p a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
    li {
      margin-top: 6px;
    }
    a {
      text-decoration: none;
      color: rgb(0, 146, 183);

    }
  }
}
.results-head {
  height: 55px;
}
.item-grid {
  position: relative;
  float: left;
  width: 260px;
  height: 250px;
  // border: .5px solid black;
  margin: 10px;
  img.heart {
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: -1;
  }
  &:hover img.heart {
    z-index: 1;
    color: white;
  }
  img.hamburger {
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: -1;
  }
  &:hover img.hamburger {
    z-index: 1;
    color: white;
  }
  .pic {
    height: 203px;
    // border-bottom: .5px solid black;
    img {
      width: 260px;
      height: 203px;
    }
  }
  .info {
    // margin: 6px;
    height: 47px;
    font-size: 12px;
    background: white;
    // overflow: hidden;
    // display: inline;
    p {
      margin: 6px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

    }
    // p.title:hover {
    //   overflow: visible;
    //   white-space: normal;
    //   // position: absolute;
    //   background: lightgrey;
    // }
    a {
      text-decoration: none;
      color: inherit;
    }
    p.price {
      float: right;
      display: inline;
      color: green;
    }
    .shop {
      color: grey;
      margin-left: 6px;
    }
  }
}
.flex-column {
  -webkit-flex: 1;
          flex: 1;
}
